
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form action="/Certifications/Create" method="post">

  <label>Certification Name</label>
  <input  name="certificationName" />
  <br />
  <Button>Save</Button>
</form>
