@model Resume.Entities.Certification
@{
  ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Record !</h3>

<form action="/Certifications/Delete" method="post">
  <input type="hidden" name="ID" value="@Model.ID" />

  <br />
  <Button>Delete</Button>
</form>
