<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">
      Shoukat
      <span class="text-primary">Malik</span>
    </h1>
    <div class="subheading mb-5">
      Software Engineer, Web Developer
      <a href="mailto:name@email.com">shoukatmalik70@gmail.com</a>
    </div>
    <p class="lead mb-5">Hi! I’m Shoukat Malik, a Software Engineer/Web Developer from Karachi, Pakistan. My area of expertise is ASP .Net MVC Web development and Rest Mobile API's but I constantly explore new technologies. I have developed a number of projects on different platforms. I enjoy developing engaging solutions that bring positive values to the lives of people.</p>
    <div class="social-icons">
      <a href="#">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/Shoukatmalik96">
        <i class="fab fa-github"></i>
      </a>
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
  </div>
</section>
