@model Resume.Web.Models.ResumeViewModels.AwardsViewModel
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
  <div class="my-auto">
    <h2 class="mb-5">Awards &amp; Certifications</h2>
    <ul class="fa-ul mb-0">
      @foreach (var certification in Model.Certifications)
      {
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          @certification.certificationName
        </li>
      }

      @*<li>
      <i class="fa-li fa fa-trophy text-warning"></i>
      Mobile Web Specialist - Google Certification
    </li>*@

      @foreach (var award in Model.Achivements)
      {
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          @award.Position@*n<sup>st</sup>*@
          @award.Institute - @award.Competition
        </li>
      }

      @*<li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        1<sup>st</sup>
        Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        2<sup>nd</sup>
        Place - University of Colorado Boulder - Emerging Tech Competition 2008
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        1<sup>st</sup>
        Place - James Buchanan High School - Hackathon 2006
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        3<sup>rd</sup>
        Place - James Buchanan High School - Hackathon 2005
      </li>*@
    </ul>
  </div>
</section>
