
@{
  ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/Educations/Create" method="post">
  <label>Institute</label>
  <input name="Institute" />
  <br />
  <label>Program</label>
  <input name="Program" />
  <br />
  <label>ProgramDescription</label>
  <input name="ProgramDescription" />
  <br />
  <label>GPA</label>
  <input name="GPA" />
  <br />
  <label>Grade</label>
  <input name="Grade" />
  <br />
  <label>From</label>
  <input name="fromDate" />
  <br />
  <label>To</label>
  <input name="toDate" />
  <br />
  <Button>Save</Button>
</form>
