
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/Awards/Create" method="post">
  <label>Position</label>
  <input name="Position"/>
  <br />
  <label>Institue</label>
  <input name="Institute" />
  <br />

  <label>Event</label>
  <input name="Competition"/>
  <br />

  <Button>Save</Button>
</form>
